*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html{
    font-family: sans-serif;
    font-size: 10px;
    height: 130vh;
}
/* NAv */


.navbar{
    height: 95px;
    width: 100%;
    background: rgb(0 , 0, 0, 0.4);
}

.logo{
    /* width: 200px; */
    height: auto;
    padding: 20px 100px;
    font-size: 35px;
    color: white;
    float: left;
}
.navbar ul{
    float: right;
    margin-right: 20px ;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 90px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 13px;
    font-family: "Roboto", sans-serif;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: #c00 ;
    border-radius: 2px;
    border-color: #c00;
}

.wrapper .center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}


/* EVENTS */
img{
    width: 100%;
}

/* body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding: 0 1.5rem;
} */

.blog-post{
    width: 100%;
    max-width: 98rem;
    margin-top: 5%;
    margin-left: 13%;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.blog-post2{
    width: 100%;
    max-width: 98rem;
    margin-top: 5%;
    margin-left: 13%;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.blog-post__img{
    min-width: 35rem;
    max-width: 35rem;
    height: 35rem;
    transform: translateX(-8rem);
    position: relative;
    
}

.blog-post__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post__img::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    /* background: linear-gradient(to right, rgba(237, 239, 241, 0.8),
                                          rgba(255, 255, 255, 0.911)); */
    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0, 05);
    border-radius: .8rem;
}

.blog-post__date span{
    display: block;
    color: rgba(0,0,0,.5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.blog-post__title{
    font-size: 2.5rem;
    margin-top: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #ff0000;
}

.blog-post__text{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba( 0,0,0, .7);
}

.blog-post__cta{
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background-image:linear-gradient(to right, rgb(255, 0, 0) 0%, red 100%) ;
    border-radius: .8rem;
    text-decoration: none;
}

.blog-post__cta:hover{

    background-image:linear-gradient(to right, red 0%, rgb(218, 218, 218) 100%) ;

}

@media screen and (max-width: 1068px) {
    .blog-post{
        max-width: 80rem;
    }

    .blog-post__img{
        min-width:30rem;
        max-width: 30rem;
    }

    
}

@media screen and (max-width: 868px) {
    .blog-post{
        max-width: 70rem;
    }



    
}

@media screen and (max-width: 768px) {
    .blog-post{
        padding: 2.5rem;
        flex-direction: column;
    }

    .blog-post__img{
        min-width:100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}

/* CARDS */


@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

}

html {
  box-sizing: border-box;
  font-size: 70%;
}

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
 } 
 


.grid {
    margin-top: 5%;
    margin-left: 6%;
  display: grid;
  width: 114em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  /* padding: 1.5rem; */
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
  background-color: #ff0000;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  /* body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #ede7f6;
  } */
  
  footer{
      margin-top: 10%;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
  footer .container .sec{
    margin-right: 30px;
  }
  footer .container .sec.aboutus{
    width: 40%;
  }
  footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
  
  }
  
  footer .container h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
  }
  
  footer .container .sec.aboutus p{
    color: #999;
  }
  
  .sci{
    margin-top: 20px;
    display: flex;
  }
  
  .sci li{
    list-style: none;
  }
  
  .sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
  }
  .sci li a:hover{
    background: #f00;
  }
  .sci li a .fab{
    color:#fff;
    font-size: 20px;
  }
  
  .quickLinks{
    position: relative;
    width: 25%;
  }
  
  .quickLinks ul li{
    list-style: none;
  }
  
  .quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .quickLinks ul li a:hover{
    color: #fff;
  }
  
  .contact{
    width: calc(35% - 60px);
    margin-right: 0! important;
  }
  
  .contact .info{
    position: relative;
  }
  
  .contact .info li{
    display: flex;
    margin-bottom: 16px;
  }
  
  .contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
  
  }
  
  .contact .info li span{
    color: #999;
  }
  
  .contact .info li a{
  color: #999;
  text-decoration: none;
  }
  
  .contact .info li a:hover{
    color: #fff;
  }
  .copyrightText{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center ;
    color: #999;
  }
  @media (max-width: 991px)
  {
    footer{
        padding: 40px;
    }
  
    footer .container
    {
        flex-direction: column;
    }
    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus, .quickLinks, .contact{
        width:100%;
    }
    .copyrightText{
        padding: 8px 40px;
    }
  }